{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}

{% block page_content %}

<div>
    {% for tag in tags %}
    <span class="label label-default">{{ tag.name }}</span>
    {% endfor %}
</div>
<div class="point" align="center">
<div>
    <b><big>{{ point.body }}</b></big>

</div>
<div>
    {{ point.explain}}
</div>
</div>
{% if point.author == current_user%}
<div>
    <span class="">
        <a href="{{ url_for('.del_point',id = point.id) }}">
            删除问题
        </a>
    </span>
</div>
{% endif %}
<div>
{% include 'posts.html' %}

</div>


{% include 'post_edit_form.html' %}

{% endblock %}