{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Flasky{% endblock %}
{% block page_content %}
<div>
    {% for tag in tags %}
    <span class="label label-default">{{ tag.name }}</span>
    {% endfor %}
</div>
<div class="point" align="center">
<div>
    <b><big>{{ point.body }}</b></big>
</div>
<div>
    {{ point.explain}}
</div>
</div>
{% if point.author == current_user%}
<div>
    <span class="">
        <a href="{{ url_for('.del_point',id = point.id) }}">
            删除问题
        </a>
    </span>
</div>
{% endif %}
<div>
    {% for post in posts %}
    <div>
        {{ post.body }}
    </div>
    {% if not show_AnswerForm and post.author == current_user%}
    <div>
        <a href="{{ url_for('.post_edit',id = point.id) }}">
            修改回答
        </a>
    </div>
    {% endif %}
    <div>
        {{ post.author.username }}
    </div>
    {% endfor %}

</div>
<div>
    {{ wtf.quick_form(form) }}

{% endblock %}